# requirements-new.txt
# conda install pytorch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 pytorch-cuda=12.1 -c pytorch -c nvidia

# Tính toán & Học máy
numpy~=2.3.4
pandas~=2.3.3
scikit-learn~=1.7.2

# Cơ sở dữ liệu
# (dùng psycopg2-binary để cài đặt dễ dàng hơn, không cần C compiler)
psycopg2-binary~=2.9.11

# Đồ thị
networkx~=3.5
python-louvain~=0.16
graphviz~=0.21

# Tiện ích
tqdm~=4.67.1
pytz~=2025.2
xxhash~=3.6.0
pyyaml
yacs

torch-geometric~=2.7.0
matplotlib~=3.10.7

graph-of-thoughts
# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.5.1+cu121.html